
/* Navigatie */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #63d866;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

nav a:hover {
    color:white;
}