/* Koppen */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Paragraaf */
p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.6;
}
